# **Week 1**

_**What is the difference between a list and a tuple in Python?**_
- A list is mutable whereas a tuple is not
- A list uses brackets when being created whereas a tuple uses parenthesis
- A tuple is is slightly more efficient than a list

_**Is indentation required in Python?**_
- Yes, indentation is required in Python. Without indentation blocks of code, like loops and functions, wouldn’t be valid.

_**What is a comment in Python and how would you write one?**_
- A comment is a line within the code that is ignored by the Python interpreter. 
- To write a comment put a # symbol in front of any code within a Python file.

_**What is a dictionary in Python?**_
- A dictionary is an unordered structure or collection of data in Python. 
- Its elements are key-value pairs where the key is immutable and the value is mutable. 
- The value can be anything whereas the key must be a mutable data type.

_**How would you convert a string to all uppercase letters?**_

In [52]:
str.upper('makeupper')

'MAKEUPPER'

In [53]:
'makeupper'.upper()

'MAKEUPPER'

_**What are negative indices and why are they used?**_
- Negative indices are ways to index a list from its end or back. 
- They’re used for when the back of a list needs to be easily accessed.

_**How would you reference a specific item within a Python dictionary?**_

In [54]:
a_dict = {'key': 'value'}
a_dict['key']

'value'

_**What does the .pop() method do to a list?**_
- The pop method removes an element in a list. 
- If an index is not provided then by default the pop method removes the last element. 
- No matter what, it returns the value of the removed element.

_**Given a list, how would you access the last 3 items in that list?**_

In [55]:
a_list = [1, 2, 3, 4, 5]
a_list[-3:]

[3, 4, 5]

_**What is the difference between a Pandas Series and a Pandas DataFrame?**_
- A Pandas Series is one dimensional whereas a Pandas DataFrame is two dimensional.
- A Pandas Series can be equivalent to a single row or column in a Pandas DataFrame, depending on whether or not the DataFrame was transposed.

# **Week 2**

_**What is a Pandas DataFrame?**_
- A Pandas DataFrame is a 2D data structure meant to emulate what we would think of as a table with labeled rows and columns.
- It holds tabular data and is easily human readable.



_**What is a Pandas Series?**_
- A Pandas Series is a 1D data structure meant to emulate what we would think of as a column within a table of Data.
- It is also labeled and human readable

_**How would you make an empty DataFrame in Python?**_

In [56]:
import pandas as pd
import numpy as np

pd.DataFrame()
empty = pd.DataFrame()
empty

Empty DataFrame
Columns: []
Index: []

_**In Pandas, how would you find the number of unique values in a column?**_

In [57]:
empty = pd.DataFrame({'A': [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]})

empty['A'].nunique()

5

In [58]:
len(empty['A'].value_counts())

5

In [59]:
len(empty.value_counts(empty['A']))

5

In [60]:
len(pd.unique(empty['A']))

5

_**What are some benefits of using Pandas?**_
- Easy data manipulation
- Works well with Python and its other modules
- Efficient for data manipulation
- Easy readability

_**How would you add a column to a pandas DataFrame?**_

In [61]:
empty['B'] = np.nan
empty

   A   B
0  1 NaN
1  1 NaN
2  2 NaN
3  2 NaN
4  3 NaN
5  3 NaN
6  4 NaN
7  4 NaN
8  5 NaN
9  5 NaN

In [62]:
empty['C'] = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5][::-1]
empty

   A   B  C
0  1 NaN  5
1  1 NaN  5
2  2 NaN  4
3  2 NaN  4
4  3 NaN  3
5  3 NaN  3
6  4 NaN  2
7  4 NaN  2
8  5 NaN  1
9  5 NaN  1

_**How would you rename a column in a Pandas DataFrame?**_

In [63]:
empty.columns = ['a', 'b', 'C']
empty

   a   b  C
0  1 NaN  5
1  1 NaN  5
2  2 NaN  4
3  2 NaN  4
4  3 NaN  3
5  3 NaN  3
6  4 NaN  2
7  4 NaN  2
8  5 NaN  1
9  5 NaN  1

In [64]:
empty.rename(columns={'a': 'A', 'b': 'B'}, inplace=True)
empty

   A   B  C
0  1 NaN  5
1  1 NaN  5
2  2 NaN  4
3  2 NaN  4
4  3 NaN  3
5  3 NaN  3
6  4 NaN  2
7  4 NaN  2
8  5 NaN  1
9  5 NaN  1

_**How would you convert a Pandas DataFrame to a numpy array?**_

In [65]:
empty.to_numpy()

array([[ 1., nan,  5.],
       [ 1., nan,  5.],
       [ 2., nan,  4.],
       [ 2., nan,  4.],
       [ 3., nan,  3.],
       [ 3., nan,  3.],
       [ 4., nan,  2.],
       [ 4., nan,  2.],
       [ 5., nan,  1.],
       [ 5., nan,  1.]])

In [66]:
empty.values

array([[ 1., nan,  5.],
       [ 1., nan,  5.],
       [ 2., nan,  4.],
       [ 2., nan,  4.],
       [ 3., nan,  3.],
       [ 3., nan,  3.],
       [ 4., nan,  2.],
       [ 4., nan,  2.],
       [ 5., nan,  1.],
       [ 5., nan,  1.]])

_**How would you save a Pandas DataFrame to a csv file?**_

In [67]:
path = './Coding Dojo/Datasets/test.csv'
empty.to_csv(path)

_**Define GroupBy in Pandas.**_
- GroupBy rearranges selected data based on some type of criteria with the Data's columns.

# **Week 3**

_**What makes data visualization good?**_
- It's visually appealing.
- Conveys information in an easy to read and easy to understand format.
- It should be uncluttered and contain only necessary info.

_**Why might you want to use data visualization?**_
- When you want to explain your data to an audience in an easily understandable way.
- When you wish to understand various aspects about your own data that is not easily discernible by just looking at rows (e.g. discerning outliers and correlations.)

_**What are some basic elements of a graph?**_
- Titles, axes and their labels, legends.

_**How would you visualize the relationship between two quantitative variables?**_
- Scatterplot or linegraph.

_**What is a heat map?**_
- A heat map is data visualization that shows the magniude of a numerical variable as a specific hue. 

_**Name different types of graphs to visualize data.**_
- Heatmap, scatterplot, barplot

_**What are data visualization tools that you are familiar with?**_
- Python, R, Matlab, Tableau, Seaborn

_**Name several data visualization libraries in Python.**_
- Seaborn, Matplotlib, Pylot

_**Name several data visualization tools outside of Python.**_
- Tableau, PowerBI, Excel, Matlab

_**What is the difference between a line graph and a scatter plot?**_
- A line graph connects the dots and tends to show the trends between the variables or trends over time, where a scatter plot shows every data point.

# **Week 4**

_**What are some ethical considerations when creating graphs?**_
- Ensure that you, as the data interpreter, do not create intentionally or unintentionally misleading and or ambiguous graphs.

_**What are some considerations for making graphs accessible for a diverse audience?**_
- Consider font types, font weights, and especially colors than are accessible for the colorblind. Likewise, ensure alt-texts are available.

_**Why are pie graphs not the best option for sharing information, and what would be a better choice?**_
- It is hard for humans to detect minute differences in areas of figures as well as with angles. Pie charts rely solely on _these two_, that is, detecting differences in area and angles. Likewise, portions of the chart that are similar to each other or small are hard to discern and can lead to confusion and error.
- Barcharts and wafflecharts are alternatives.

_**When it comes to making graphs for explaining information to others, what are several design features you should avoid?**_
- 3D figures, blown apart charts, overloading the chart, odd axis scaling, unclear or absent axis titles, distracting/bright/too much colors. 

_**The type of visuals that you use depends on your audience. Give an example of some visuals that would be appropriate for a technical audience, but not appropriate for a non-technical audience?**_
- Technical: Scatterplots, Boxplots, Stacked Barchart,  Histogram
- Non-technical: Pie charts, Donut charts, Barcharts, Line graphs

_**Describe the pros and cons of using a boxplot vs a histogram for distribution.**_
- Boxplot
    - Pros: Easily visualize a distribution's skewness; can easily plot multiple in one area; easily view outliers; provides a compact summary of a distribution.
    - Cons: Non-technical audience may not understand it.
- Histogram
    - Pros: Easily displays large amounts of numerical data in an intuitive way; easily allows an audience to see where most of the values of a dataset lie; data variations are easily seen; easily see skewness, though not as well as a boxplot;
    - Cons: Only continuous data can be used; inconvenient when comparing two different data categories
    

_**Define correlation and explain the difference between a positive and a negative correlation.**_
- Correlation is when two variables grow with or against one another. A positive correlation is when two numerical variables grows with each other and a negative correlation is when two variable grow against each other.

_**What is the difference between a histogram and a bar chart and when should you use each?**_
- Though they look similar, a histogram shows the distribution of continuous data while a bar chart compares categorical data.
- You should use a histogram when you want to analyze the distribution of a variable that is continuous.
- You should use a bar chart when you want to analyze a categorical variable. 

_**How does the bin size affect the output of a histogram?**_
- The bin size affects how detailed and accurate the distribution estimate is within the histogram.

_**What is a donut chart and when is it used?**_
- A donut chart is a variation of a pie chart.
- A donut chart is helpful when conveying percentages, especially when it's a small amount or one.

# **Week 5**

_**What is the difference between supervised and unsupervised learning?**_
- Supervised machine learning has a target vector and uses labeled input and output data
- Unsupervised machine learning does not have a target vector and does not use labeled input and output data

_**What is the difference between regression and classification?**_

- Regression seeks to predict a numerical value.
- Classification seeks to predict a categorical value.

_**What is a target in supervised machine learning?**_
- The target is the column of a dataset that the supervised machine learning algorithm is trying to predict.

_**Explain the purpose of a train-test split?**_
-

_**What is machine learning?**_
-

_**What are some common applications of machine learning?**_
-

_**What are the benefits of using a pipeline?**_
-

_**What is data leakage and why is it a problem?**_
-

_**What is meant by "fitting" a model?**_
-

_**Describe the essential steps to pre-processing data for machine learning.**_
-