# **Abalone Preprocessing Exercise**

_John Andrew Dixon_

---

**Setup**

In [7]:
# Import necessary modules

# For working with the data
import pandas as pd

# For performing a TTS
from sklearn.model_selection import train_test_split

# For scaling numerical features and encoding nominal features
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# For creating column selectors and column transformers
from sklearn.compose import make_column_selector, make_column_transformer

In [8]:
# Load the data into a DataFrame and verify
url = "https://docs.google.com/spreadsheets/d/1jfU2oFSfhX1ywUbqETExDJuztO95r3h6pbWAm7xpwNY/gviz/tq?tqx=out:csv&sheet=users"
df= pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4177 non-null   object
 1   length          4177 non-null   float64
 2   diameter        4177 non-null   float64
 3   height          4177 non-null   float64
 4   whole_weight    4177 non-null   float64
 5   shucked_weight  4177 non-null   float64
 6   viscera_weight  4177 non-null   float64
 7   shell_weight    4177 non-null   float64
 8   rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

---

## **Tasks**

### **Separate your data into the feature matrix (X) and the target vector (y)**
- Rings will be your y
- The rest of the features will be your X

In [9]:
# Create the feature matrix (X)
X = df.drop(columns="rings")
X

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [10]:
# Create the target vector (y)
y = df['rings']
y

0       15
1        7
2        9
3       10
4        7
        ..
4172    11
4173    10
4174     9
4175    10
4176    12
Name: rings, Length: 4177, dtype: int64

### **Train/test split the data. Please use the random number 42 for consistency.**

In [11]:
# Perform the Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

### **Create a ColumnTransformer to preprocess the data.** 
Remember to:
1. Create column selectors for the numeric and categorical columns.
2. Create a StandardScaler for scaling numeric columns.
3. Create a OneHotEncoder for one-hot encoding the categorical columns.
4. Match each transformer with the appropriate selector in a tuple.
5. Use the tuples to create a ColumnTransformer to preprocess the data.

In [12]:
# Create column selectors for the numeric and categorical columns.
numerical_selector = make_column_selector(dtype_include="number")
nominal_selector =  make_column_selector(dtype_include="object") # Categorical selector

In [13]:
# Create a StandardScaler for scaling numeric columns.
scaler = StandardScaler()

In [14]:
# Create a OneHotEncoder for one-hot encoding the categorical columns.
one_hot_encoder = OneHotEncoder(handle_unknown="ignore")

In [15]:
# Match each transformer with the appropriate selector in a tuple.
numeric_tuple = (scaler, numerical_selector)
nominal_tuple = (one_hot_encoder, nominal_selector) # Categorical Tuple

In [31]:
# Use the tuples to create a ColumnTransformer to preprocess the data.
# Perused the Documentation and found out that verbose_feature_names_out affects
# the output of get_feature_names_out()
col_transformer = make_column_transformer(numeric_tuple, nominal_tuple, remainder='passthrough', verbose_feature_names_out=False)

### **Transform your data and display the result.**
- Individual transformers do NOT need to be fit separately.  Just fit the resulting preprocessing object once on the training data, and use it to transform both the training and testing data.

In [32]:
# Fit the ColumnTransformer to the training data
col_transformer.fit(X_train)
print()

In [35]:
# Transform both the training and the testing data
X_train_processed = col_transformer.transform(X_train)
X_test_processed = col_transformer.transform(X_test)

display(X_train_processed)
X_test_processed

array([[ 0.74929076,  0.46422584, -0.11886923, ...,  1.        ,
         0.        ,  0.        ],
       [-0.09025371, -0.14465442, -0.0016468 , ...,  1.        ,
         0.        ,  0.        ],
       [ 1.12708577,  1.22532616,  0.81891021, ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [-0.13223093, -0.14465442, -0.35331409, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.41347297,  0.56570588, -0.47053652, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.58138187,  0.66718592,  0.46724292, ...,  1.        ,
         0.        ,  0.        ]])

array([[ 0.66533631,  0.46422584,  0.46724292, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.53940464,  0.31200577,  0.23279806, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.2875413 ,  0.36274579,  1.28779993, ...,  1.        ,
         0.        ,  0.        ],
       ...,
       [ 0.91719966,  1.02236608,  1.05335507, ...,  0.        ,
         0.        ,  1.        ],
       [-0.55200317, -0.34761451, -0.0016468 , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.03567796, -0.24613447, -0.35331409, ...,  1.        ,
         0.        ,  0.        ]])

In [38]:
# Get the names of the features as created by the column transformer
features = col_transformer.get_feature_names_out()

# Make each a DataFrame
X_train_processed_df = pd.DataFrame(X_train_processed, columns=features)
X_test_processed_df = pd.DataFrame(X_test_processed, columns=features)

# Display each DataFrame
display(X_train_processed_df)
X_test_processed_df

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,sex_F,sex_I,sex_M
0,0.749291,0.464226,-0.118869,0.457447,0.499098,0.743973,0.241135,1.0,0.0,0.0
1,-0.090254,-0.144654,-0.001647,-0.301655,-0.364269,-0.514040,-0.145838,1.0,0.0,0.0
2,1.127086,1.225326,0.818910,1.523852,1.692114,1.544526,1.179902,0.0,0.0,1.0
3,-0.593980,-0.449095,-1.056649,-0.651696,-0.617673,-0.738195,-0.647469,0.0,0.0,1.0
4,-0.258163,-0.093914,0.350020,-0.052352,-0.572823,-0.605532,0.785763,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
3127,-0.300140,-0.093914,-0.587759,-0.539765,-0.476395,-0.449995,-0.683300,1.0,0.0,0.0
3128,1.211040,1.428286,1.170577,1.132090,0.808565,1.114515,1.144071,1.0,0.0,0.0
3129,-0.132231,-0.144654,-0.353314,-0.516361,-0.530215,-0.440846,-0.375155,0.0,0.0,1.0
3130,0.413473,0.565706,-0.470537,0.446253,0.689711,0.336834,-0.038345,0.0,0.0,1.0
3131,0.581382,0.667186,0.467243,0.623309,0.828747,0.451199,0.219636,1.0,0.0,0.0

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,sex_F,sex_I,sex_M
0,0.665336,0.464226,0.467243,0.548010,0.263634,1.096216,0.606609,0.0,0.0,1.0
1,0.539405,0.312006,0.232798,0.077896,0.111143,0.304812,0.033316,0.0,0.0,1.0
2,0.287541,0.362746,1.287800,0.298707,-0.256629,0.391729,0.678271,1.0,0.0,0.0
3,0.917200,0.819406,0.701688,0.869559,0.790624,0.775995,1.000748,1.0,0.0,0.0
4,-0.426072,-0.246134,0.115576,-0.441061,-0.570580,-0.674150,-0.181669,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
1040,-0.468049,-0.398355,-0.470537,-0.740224,-0.797074,-0.697023,-0.611638,0.0,1.0,0.0
1041,0.455450,0.514966,0.232798,0.370954,0.577586,0.359707,0.176639,0.0,0.0,1.0
1042,0.917200,1.022366,1.053355,0.964193,0.815292,1.247178,0.979249,0.0,0.0,1.0
1043,-0.552003,-0.347615,-0.001647,-0.658819,-0.763437,-0.706173,-0.253330,0.0,0.0,1.0
1044,0.035678,-0.246134,-0.353314,-0.335234,-0.328389,-0.280736,-0.432484,1.0,0.0,0.0