# **Pre-Processing Exercise**

_John Andrew Dixon_

---

**Setup**

In [1]:
# Import necessary modules

# For working with the data
import pandas as pd

# For performing a TTS
from sklearn.model_selection import train_test_split

# For scaling numerical features
from sklearn.preprocessing import StandardScaler

# For One-Hot Encoding nominal features
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder

In [3]:
# Load the data into a DataFrame and verify
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3R_qvIyzGAYylk0aIdTFxAtcxLdjBtfEGfSyAI1PfOnr0YpN_QjbbH1j5OScoYNcoyOjY_c9tQQ0H/pub?output=csv"
df= pd.read_csv(url)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

---

## **Tasks**

> **Question**: _How well can the total charge be predicted based on the age, sex, bmi, number of children, smoking habit and region of the patient?_ 

### **Define features (X) and target (y)**

In [4]:
# Define the feature matrix
X = df.drop(columns="charges")
X

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [6]:
# Define the target vector
y = df['charges']
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

 ### **Is this a classification or regression task?**

 Given that the goal is to predict total charge ( `charges`, a numerical feature that is continuous), I believe this is a regression task.

### **Train test split the data to prepare for machine learning**

In [9]:
# Perform the Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

### **Identify each feature as numerical, ordinal, or nominal. (Please provide this answer in a text cell in your Colab notebook)**

In [14]:
# Takes a sample of the data
X_train.sample(10)

      age     sex     bmi  children smoker     region
760    22  female  34.580         2     no  northeast
579    25  female  23.465         0     no  northeast
1062   59    male  41.140         1    yes  southeast
302    56  female  37.510         2     no  southeast
1049   49    male  30.900         0    yes  southwest
1336   21  female  25.800         0     no  southwest
1028   54    male  31.600         0     no  southwest
1030   46  female  23.655         1    yes  northwest
559    19    male  35.530         0     no  northwest
190    61    male  31.570         0     no  southeast

Numerical: `age`, `bmi`, `children`

Nominal: `smoker`, `sex`, `region`

Ordinal: `None`

### **Ordinal encode any ordinal features**

No ordinal features to encode.

### **Scale any numeric features**

In [19]:
# Create a column selector to select only numeric features
numeric_selector = make_column_selector(dtype_include='number')

# Select only numeric features from the X_train feature matrix
X_train_num = X_train[numeric_selector]
X_test_num = X_test[numeric_selector]

In [22]:
# Instantiate a Standard Scaler
scaler = StandardScaler()

# Fit the standard scaler to the Numeric features of the X_train
scaler.fit(X_train_num)

StandardScaler()

### **One Hot Encode any nominal features**

In [ ]:
nominal_selector = make_column_selector(dtype_include='object')

### **Concatenate all features back into one dataframe.**